@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="content-top">
    <div class="col_1_of_4 span_1_of_4">
        <div class="title-img">
            <div class="title"><img src="images/h1.png" alt=""></div>
            <div class="title-desc"><p>Lorem ipsum</p></div>
            <div class="clear"></div>
        </div>
        <h4 class=head>Lorem ipsum dolor sit ametconst</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <hr>
        <a href="#" class="btn btn-primary">more</a>
    </div>
    <div class="col_1_of_4 span_1_of_4">
        <div class="title-img">
            <div class="title"><img src="images/h2.png" alt=""></div>
            <div class="title-desc"><p>Lorem ipsum </p></div>
            <div class="clear"></div>
        </div>
        <h4 class=head>Lorem ipsum dolor sit ametconst</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <hr>
        <a href="#" class="btn btn-primary">more</a>
    </div>
    <div class="col_1_of_4 span_1_of_4">
        <div class="title-img">
            <div class="title"><img src="images/h3.png" alt=""></div>
            <div class="title-desc"><p>Lorem ipsum</p></div>
            <div class="clear"></div>
        </div>
        <h4 class=head>Lorem ipsum dolor sit ametconst</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <hr>
        <a href="#" class="btn btn-primary">more</a>
    </div>
    <div class="col_1_of_4 span_1_of_4">
        <div class="title-img">
            <div class="title"><img src="images/h4.png" alt=""></div>
            <div class="title-desc"><p>Lorem ipsum</p></div>
            <div class="clear"></div>
        </div>
        <h4 class=head>Lorem ipsum dolor sit ametconst</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <hr>
        <a href="#" class="btn btn-primary">more</a>
    </div>
    <div class="clear"></div>
</div>
