@model List<User>

@foreach (var item in Model)
{
    <h1>@item.Address.Province</h1>
    @*<h1>@item.Address.District</h1>
    <h1>@item.Address.Ward</h1>
    <h1>@item.Address.HouseNumber</h1>*@
}


